/* Does a hard reset of the webpage so the white space at the top is eliminated */
/* * is fancy HTML5 attribute that selects every element */
*  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* Following is useful for flexbox elements, which are useful HTML5 features */
div.section2-images {
  text-align: center;
  color: black;
  width: 400px;
}
div.section2-general  {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
div.leftsection3  {
  padding: 250px 50px;
}
/*Grey section code formatting*/
section.section2  {
  background-color: #F4F4F4;
}
/* footers don't need classes as they should be standardized across all pages*/
footer  {
  background-color: rgb(49, 95, 112);
  color: #b3b3b3;
}
footer p  {
  color: #b3b3b3;
}
/*Copyright text*/
footer p.below-text {
  text-align: center;
  border-top: 1px solid white;
  padding-top: 0.5em;
  padding-bottom: 2em;
}
/* This is supposed to format the text including "contact us" over its respective
image */
div.over-element  {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
div.text-image-container  {
  position: relative;
  text-align: center;
  color: black;
}
