/* Does a hard reset of the webpage so the white space at the top is eliminated */
/* * is fancy HTML5 attribute that selects every element */
@import "https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap";
*  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}
/* Following is useful for flexbox elements, which are useful HTML5 features */
div.section2-images {
  text-align: center;
  color: black;
  width: 400px;
}
/*div.section2-images p {
  padding-bottom: 60px;
}*/
div.section2-general  {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
div.leftsection3  {
  padding: 250px 50px;
}
/*Grey section code formatting*/
section.section2  {
  background-color: #F4F4F4;
}
/* This is supposed to format the text including "contact us" over its respective
image */
div.over-element  {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
div.text-image-container  {
  position: relative;
  text-align: center;
  color: black;
}
div.forum-button-container  {
  width: 100%;
}
