button.go-forum {
  border-radius: 50px;
  border: 3px solid #26d254;
  padding: 10px 15px 10px 15px;
  color: #26d254;
  position: absolute;
  left: 44%;
  right: 44%;
}
button.go-forum:hover {
  color: white;
  background-color: #26d254;
}
button  {
  font-family: 'Poppins', sans-serif;
}
button.log-in:hover {
  color: white;
  background-color: #315f70;
}
button.nav-button {
  background-color: #315e71;
  height: 40px;
  border-radius: 50px;
  margin-left: 20px;
  padding: 6px 15px 10px 15px;
/*top, right, bottom, left padding*/
  position: relative;
  margin-top: 10px;
  border: 3px solid #BEAE7F;
/*the tan color commonly used*/
  color: #BEAE7F;
}
button.nav-button:hover {
  background-color: #BEAE7F;
  color: white;
}
/*Contact Us Will Become a Button*/
button.contact-us {
  border-radius: 50px;
  color: rgb(49, 95, 112);
}
