/*navbar structure code*/
/*Overall sublist element organization*/
li.nav {
  border: 0.125em solid #BEAE7F;
}
/*Handles the text around the navbar*/
a.nav  {
  text-decoration: none;
  color: #BEAE7F;
  vertical-align: middle;
  text-align: center;
}
a.nav:hover {
  color: white;
}
/*Sets the overall color of the navbar, handles overall values*/
ul.nav {
  margin: 0;
  list-style: none;
  background-color: #315e71;
  text-align: center;
  width: 100%;
}
/*logo in the navbar*/
li.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Another part of logo in the navbar*/
/*Note important that the size of the image is correct*/
img.logo  {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
}
button.nav-button {
  background-color: #315e71;
  height: 40px;
  border-radius: 50px;
  margin-left: 20px;
  padding: 6px 15px 10px 15px;
/*top, right, bottom, left padding*/
  position: relative;
  margin-top: 10px;
  border: 3px solid #BEAE7F;
/*the tan color commonly used*/
  color: #BEAE7F;
}
button.nav-button:hover {
  background-color: #BEAE7F;
  color: white;
}
